body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-image: url("src/image/vecteezy_banner-poster-flyer-design-with-watercolor-pattern-on-dark_.jpg");
    background-size: 100%;
    color: #fff;
}

div.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
}

header {
    background-color: #101010;
    padding: 5px;
    /* position: sticky;
    top: -20px; */
}

.header-nav {
    color: #fff;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.header-nav a:hover {
    text-decoration: none;
    color: green;
}

.click:hover {
    color: blue;
}

img {
    transition: transform 0.2s ease;
}

img:hover {
    transform: scale(1.05);

}


section {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    padding: 20px 40px 40px 40px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 1), inset -2px 2px 2px rgba(128, 128, 128, 0.5);
    transition: transform 0.2s ease;
}

.project:hover {
    transform: scale(1.01);
}

.project-bottom-nav {
    display: flex;
    justify-content: end;
}

.project-bottom-nav span {
    margin-left: 20px;
}

.project-bottom-nav span:hover {
    margin-left: 20px;
    color: #007bff;
    cursor: pointer;
}

b {
    font-weight: 900;
    font-size: 18px;
}

.tab {
    margin-left: 40px;
}

.project a {
    text-decoration: none;
    color: #007bff;
}

.project a:hover {
    text-decoration: underline;
}

.project-description {
    margin-top: 10px;
    margin-left: 10px;
}

/* Custom bullet points for list items */
ul {
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

ul li::before {
    content: "◘";
    color: #007bff;
    font-weight: bold;
    margin-right: 0.5em;
}

.tab ul li::before {
    content: "‣";
    color: #007bff;
    font-weight: bold;
    margin-right: 0.5em;
}

.technologies {
    margin-top: 10px;
}

.socials {
    margin-top: 20px;
    margin-left: 40px;
}

.socials a {
    margin: 0 2px;
    color: #007bff;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}

img {
    border: 1px solid #101010;
    border-radius: 8px;
}