body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #fff;
}

div.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #101010;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
    padding: 20px 40px 40px 40px;
    background-color: #333;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

b {
    font-weight: 900;
    font-size: 16px;
}

.project a {
    text-decoration: none;
    color: #007bff;
}

.project a:hover {
    text-decoration: underline;
}

.project-description {
    margin-top: 10px;
    margin-left: 10px;
}

.technologies {
    margin-top: 10px;
}

.socials {
    margin-top: 20px;
    text-align: center;
}

.socials a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}

img {
    border: 1px solid #101010;
    border-radius: 8px;
}